@inherits TestComponentCode
<select @onchange="CustomerSelected" size="4" style="width:100%">
    @foreach (var customer in @Customers)
    {
        string selected = customer.CustomerId == SelectedCustomer?.CustomerId ? "selected" : null;
        <option selected="@selected" value="@customer.CustomerId" @selected>@customer.Name</option>
    }
</select>

<button @onclick="AddButtonClicked">Add Customer</button>

<br />
<br />

@if (SelectedCustomer != null)
{
    <div style="background-color:lightgray;padding:1vw;">
        <EditForm Model="@SelectedCustomer" OnValidSubmit="@UpdateButtonClicked">
            <DataAnnotationsValidator />
            <ValidationSummary />

            Name: <InputText id="name" @bind-Value="@SelectedCustomer.Name" />
            <br />
            <br />

            Email: <InputText id="email" @bind-Value="@SelectedCustomer.Email" />
            <br />
            <br />

            <button type="submit">Save</button>
            <button type="button" @onclick="ResetButtonClicked">Reset</button>
            <button type="button" @onclick="DeleteButtonClicked">Delete</button>
        </EditForm>
    </div>
}


